@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400&display=swap');

body {
    background: hsl(212, 45%, 89%);
    display: grid;
    place-items: center;
    height: 100vh;
}

.card {
    background: hsl(0, 0%, 100%);
    border-radius: 20px;
    box-shadow: 2px 2px 20px hsla(217, 45%, 22%, 0.123);
    padding: 20px;
    width: 30%;
    height: auto;
    text-align: center;
    font-family: Outfit, sans-serif;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

.card-content h1 {
    font-size: 1.5em;
    line-height: 1.2em;
    margin: 0;
}

.card-content p {
    font-size: 1em;
    line-height: 1;
    color: #666;
}